.show-vulnerability-button {
    padding: 12px 24px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 10px 0;
  }
  
  .show-vulnerability-button:hover {
    background-color: #218838;
  }
  
  .modal-content {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .modal-body-AI h1, .modal-body-AI h2, .modal-body-AI h3 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .modal-body-AI p {
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  .fixed-button-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }
  
  .modal-content h1 {
    line-height: 1.5; 
    margin: 0;
}

.modal {
  background-color: #f9f9f9; 
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

body {
  font-family: 'Roboto', sans-serif; 
}

